.main-column {
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 37em;
}

.main-column .section {
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.main-column .section h3 {
  font-family: "sen", sans-serif;
  font-size: 2.7rem;
}

.main-column .section p {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 2rem;
}

.main-column .section .note {
  padding: 1em;
  border-top: 0.15em var(--theme-dark) dotted;
  border-bottom: 0.15em var(--theme-dark) dotted;
}

/* .main-column .section:last-of-type {
  margin-bottom: 0rem;
} */

@media only screen and (max-width: 480px) {
  .main-column .section h3 {
    font-size: 2.4rem;
    text-align: center;
  }

  .main-column .section p {
    font-size: 1.2em;
  }
}
