.main-column {
  margin: 0em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 37em;
}

.main-column h3 {
  font-family: "sen", sans-serif;
  font-size: 2.7rem;
}

.main-column p {
  font-size: 1.3em;
  line-height: 1.4em;
  margin-top: 2rem;
  /* color: var(--theme-dark); */
  /* text-align: justify;
  letter-spacing: -0.1px; */
}

.main-column .section {
  margin-top: 3rem;
  margin-bottom: 10rem;
  /* text-align: left; */
  /* border: 1px red dashed */
}

/* .main-column .section:last-of-type {
  margin-bottom: 0rem;
} */
