.resources .resource {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px red dashed;
}

.resources .resource .resource-icon-wrapper {
  border: 1px red dashed;
  width: 4.8em;
  height: 4.8em;
  display: block;
  position: relative;
  text-align: center;
  text-justify: middle;
  margin: auto;

  color: var(--bottom-background-color);
  background-color: var(--theme-dark);
}

.resources .resource .resource-icon {
  font-size: 3em;
  color: var(--bottom-background-color);
  background-color: var(--theme-dark);
  transition: 0.3s;
  border-radius: 50%;
  margin: auto;

  background-color: var(--theme-dark);
  text-align: center;
}

.resources .resource .resource-icon:hover {
  color: var(--theme-dark);
  background-color: rgba(0, 0, 0, 0);
}

.resources .resource .resource-text {
  font-size: 0.9em;
}
