.resources {
  display: flex;
  width: 100%;
  justify-content: center;
}

.resources .resource {
  display: flex;
  flex-flow: column;
}

.resources .resource .resource-icon-wrapper {
  width: 100%;
  text-align: center;
}

.resources .resource .resource-text {
  margin-top: 0.2em;
  font-size: 0.8em;
}

.resources .resource .resource-link {
  font-size: 4em;
  width: 100%;
  transition: 0.3s;
  text-align: center;

  text-decoration: none;
  line-height: 1;

  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 0.2em;
  overflow: hidden;
  color: var(--theme-dark);
  vertical-align: bottom;
  transition: 0.3s ease-out;
}

.resources .resource .resource-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-color: var(--theme-dark);
  transition: 0.5s ease-out;
}

.resources .resource .resource-link:hover {
  color: #fff;
  color: var(--bottom-background-color);
}
.resources .resource .resource-link:hover::before {
  transform: translateY(0);
  transition: 0.3s ease-out;
}
