.main-wrapper {
  padding: 4em 0em;
  background-color: #fffdc0;
  background-image: linear-gradient(
    to bottom,
    var(--top-background-color),
    #fffdc0
  );
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.column {
  padding: 0.5em;
  font-size: 2em;
}

/* hr {
  border: 0;
  height: 2px;
  margin: 2rem;
  max-width: 37em;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #3f3d3a,
    rgba(0, 0, 0, 0)
  );
} */
